In [1]:
!pip install ipython-sql --quiet --upgrade

In [2]:
!pip install sqlalchemy --quiet

In [3]:
%load_ext sql

In [4]:
%sql postgresql://postgres:Fmuda@localhost:5432/olympics

### 1. How many olympics games have been held?

In [5]:
%%sql

select count(distinct games) as no_of_games 
from athlete_events;

 * postgresql://postgres:***@localhost:5432/olympics
1 rows affected.

[(51,)]

### 2. List down all Olympics games held so far.

In [6]:
%%sql

select distinct year, season, city
from athlete_events
order by year;

 * postgresql://postgres:***@localhost:5432/olympics
52 rows affected.

[(1896, 'Summer', 'Athina'),
 (1900, 'Summer', 'Paris'),
 (1904, 'Summer', 'St. Louis'),
 (1906, 'Summer', 'Athina'),
 (1908, 'Summer', 'London'),
 (1912, 'Summer', 'Stockholm'),
 (1920, 'Summer', 'Antwerpen'),
 (1924, 'Summer', 'Paris'),
 (1924, 'Winter', 'Chamonix'),
 (1928, 'Winter', 'Sankt Moritz'),
 (1928, 'Summer', 'Amsterdam'),
 (1932, 'Summer', 'Los Angeles'),
 (1932, 'Winter', 'Lake Placid'),
 (1936, 'Winter', 'Garmisch-Partenkirchen'),
 (1936, 'Summer', 'Berlin'),
 (1948, 'Summer', 'London'),
 (1948, 'Winter', 'Sankt Moritz'),
 (1952, 'Summer', 'Helsinki'),
 (1952, 'Winter', 'Oslo'),
 (1956, 'Summer', 'Melbourne'),
 (1956, 'Summer', 'Stockholm'),
 (1956, 'Winter', "Cortina d'Ampezzo"),
 (1960, 'Winter', 'Squaw Valley'),
 (1960, 'Summer', 'Roma'),
 (1964, 'Summer', 'Tokyo'),
 (1964, 'Winter', 'Innsbruck'),
 (1968, 'Winter', 'Grenoble'),
 (1968, 'Summer', 'Mexico City'),
 (1972, 'Summer', 'Munich'),
 (1972, 'Winter', 'Sapporo'),
 (1976, 'Winter', 'Innsbruck'),
 (1976, 'Summer', 'Montreal'),
 (1980, 'Winter', 'Lake Placid'),
 (1980, 'Summer', 'Moskva'),
 (1984, 'Winter', 'Sarajevo'),
 (1984, 'Summer', 'Los Angeles'),
 (1988, 'Summer', 'Seoul'),
 (1988, 'Winter', 'Calgary'),
 (1992, 'Winter', 'Albertville'),
 (1992, 'Summer', 'Barcelona'),
 (1994, 'Winter', 'Lillehammer'),
 (1996, 'Summer', 'Atlanta'),
 (1998, 'Winter', 'Nagano'),
 (2000, 'Summer', 'Sydney'),
 (2002, 'Winter', 'Salt Lake City'),
 (2004, 'Summer', 'Athina'),
 (2006, 'Winter', 'Torino'),
 (2008, 'Summer', 'Beijing'),
 (2010, 'Winter', 'Vancouver'),
 (2012, 'Summer', 'London'),
 (2014, 'Winter', 'Sochi'),
 (2016, 'Summer', 'Rio de Janeiro')]

### 3. Mention the total no of nations who participated in each olympics game?

In [7]:
%%sql

select t1.games, count(distinct t2.region) as total_countries
from athlete_events t1 
join noc_regions t2 on t1.noc=t2.noc
group by t1.games order by t1.games

 * postgresql://postgres:***@localhost:5432/olympics
51 rows affected.

[('1896 Summer', 12),
 ('1900 Summer', 31),
 ('1904 Summer', 14),
 ('1906 Summer', 20),
 ('1908 Summer', 22),
 ('1912 Summer', 29),
 ('1920 Summer', 29),
 ('1924 Summer', 45),
 ('1924 Winter', 19),
 ('1928 Summer', 46),
 ('1928 Winter', 25),
 ('1932 Summer', 47),
 ('1932 Winter', 17),
 ('1936 Summer', 49),
 ('1936 Winter', 28),
 ('1948 Summer', 58),
 ('1948 Winter', 28),
 ('1952 Summer', 66),
 ('1952 Winter', 30),
 ('1956 Summer', 70),
 ('1956 Winter', 32),
 ('1960 Summer', 82),
 ('1960 Winter', 30),
 ('1964 Summer', 93),
 ('1964 Winter', 36),
 ('1968 Summer', 110),
 ('1968 Winter', 36),
 ('1972 Summer', 119),
 ('1972 Winter', 34),
 ('1976 Summer', 90),
 ('1976 Winter', 36),
 ('1980 Summer', 80),
 ('1980 Winter', 36),
 ('1984 Summer', 138),
 ('1984 Winter', 48),
 ('1988 Summer', 155),
 ('1988 Winter', 56),
 ('1992 Summer', 167),
 ('1992 Winter', 64),
 ('1994 Winter', 67),
 ('1996 Summer', 195),
 ('1998 Winter', 72),
 ('2000 Summer', 198),
 ('2002 Winter', 76),
 ('2004 Summer', 199),
 ('2006 Winter', 78),
 ('2008 Summer', 202),
 ('2010 Winter', 81),
 ('2012 Summer', 203),
 ('2014 Winter', 88),
 ('2016 Summer', 204)]

### 4. Which year saw the highest and lowest no of countries participating in olympics.

In [9]:
%%sql

with participating as 
    (select t1.games, count(distinct t2.region) as total_countries
    from athlete_events t1 
    join noc_regions t2 on t1.noc=t2.noc
    group by t1.games order by t1.games)
select concat(first_value(games) over(order by total_countries), ' - ',
   first_value(total_countries) over(order by total_countries)) as lowest_countries, 
    concat(first_value(games) over(order by total_countries desc), ' - ',
   first_value(total_countries) over(order by total_countries desc)) as highest_countries
from participating limit 1;

 * postgresql://postgres:***@localhost:5432/olympics
1 rows affected.

[('1896 Summer - 12', '2016 Summer - 204')]

### 5. Which nation has participated in all of the olympic games

In [10]:
%%sql

with total as
    (select count(distinct games) as total_games from athlete_events),
country as
    (select t2.region, count(distinct t1.games) as no_of_countries
     from athlete_events t1 
    join noc_regions t2 on t1.noc=t2.noc
     group by t2.region)
select region, no_of_countries 
from country c 
join total t on c.no_of_countries = t.total_games;

 * postgresql://postgres:***@localhost:5432/olympics
4 rows affected.

[('France', 51), ('Italy', 51), ('Switzerland', 51), ('UK', 51)]

### 6.Identify the sport which was played in all summer olympics.

In [11]:
%%sql

with total as
   (select count(distinct games) as total_sports 
     from athlete_events where season='Summer'),
sports as
    (select sport, count(distinct games) as no_of_sports
     from athlete_events where season='Summer'
     group by sport)
select sport, no_of_sports 
from sports s
join total t on s.no_of_sports = t.total_sports;

 * postgresql://postgres:***@localhost:5432/olympics
5 rows affected.

[('Athletics', 29),
 ('Cycling', 29),
 ('Fencing', 29),
 ('Gymnastics', 29),
 ('Swimming', 29)]

### 7. Which Sports were just played only once in the olympics.

In [12]:
%%sql

select sport, count(distinct games) as no_of_sports
from athlete_events 
group by sport 
having count(distinct games)=1;

 * postgresql://postgres:***@localhost:5432/olympics
10 rows affected.

[('Aeronautics', 1),
 ('Basque Pelota', 1),
 ('Cricket', 1),
 ('Croquet', 1),
 ('Jeu De Paume', 1),
 ('Military Ski Patrol', 1),
 ('Motorboating', 1),
 ('Racquets', 1),
 ('Roque', 1),
 ('Rugby Sevens', 1)]

### 8.Fetch the total no of sports played in each olympic games.

In [13]:
%%sql

select games, count(distinct sport) as total_sports
from athlete_events 
group by games

 * postgresql://postgres:***@localhost:5432/olympics
51 rows affected.

[('1896 Summer', 9),
 ('1900 Summer', 20),
 ('1904 Summer', 18),
 ('1906 Summer', 13),
 ('1908 Summer', 24),
 ('1912 Summer', 17),
 ('1920 Summer', 25),
 ('1924 Summer', 20),
 ('1924 Winter', 10),
 ('1928 Summer', 17),
 ('1928 Winter', 8),
 ('1932 Summer', 18),
 ('1932 Winter', 7),
 ('1936 Summer', 24),
 ('1936 Winter', 8),
 ('1948 Summer', 20),
 ('1948 Winter', 9),
 ('1952 Summer', 19),
 ('1952 Winter', 8),
 ('1956 Summer', 19),
 ('1956 Winter', 8),
 ('1960 Summer', 19),
 ('1960 Winter', 8),
 ('1964 Summer', 21),
 ('1964 Winter', 10),
 ('1968 Summer', 20),
 ('1968 Winter', 10),
 ('1972 Summer', 23),
 ('1972 Winter', 10),
 ('1976 Summer', 23),
 ('1976 Winter', 10),
 ('1980 Summer', 23),
 ('1980 Winter', 10),
 ('1984 Summer', 25),
 ('1984 Winter', 10),
 ('1988 Summer', 27),
 ('1988 Winter', 10),
 ('1992 Summer', 29),
 ('1992 Winter', 12),
 ('1994 Winter', 12),
 ('1996 Summer', 31),
 ('1998 Winter', 14),
 ('2000 Summer', 34),
 ('2002 Winter', 15),
 ('2004 Summer', 34),
 ('2006 Winter', 15),
 ('2008 Summer', 34),
 ('2010 Winter', 15),
 ('2012 Summer', 32),
 ('2014 Winter', 15),
 ('2016 Summer', 34)]

### 9. Fetch oldest athletes to win a gold medal.

In [14]:
%%sql

select *
from
    (select name, 
        max(age) as oldest,
     rank() over (order by max(age) desc) as Rnk
    from athlete_events where medal = 'Gold' and age <> 'NA'
    group by name) as rank
where Rnk = 1

 * postgresql://postgres:***@localhost:5432/olympics
2 rows affected.

[('Oscar Gomer Swahn', '64', 1), ('Charles Jacobus', '64', 1)]

### 10. Find the Ratio of male and female athletes participated in all olympic games.

In [16]:
%%sql

select concat('1 : ', round(male_athletes.count::decimal/female_athletes.count, 2)) as ratio
from
     (select count(distinct id) from athlete_events where sex = 'M') as male_athletes, 
     (select count(distinct id) from athlete_events where sex = 'F') as female_athletes;

 * postgresql://postgres:***@localhost:5432/olympics
1 rows affected.

[('1 : 2.99',)]

### 11. Fetch the top 5 athletes who have won the most gold medals.

In [17]:
%%sql

select * from
  (select distinct id, 
      name, 
      count(medal) as no_of_gold,
      dense_rank() over (order by count(medal) desc) as Rnk
  from athlete_events 
  where medal = 'Gold'
  group by id, name order by count(medal) desc) subquery 
where Rnk <= 5;

 * postgresql://postgres:***@localhost:5432/olympics
18 rows affected.

[(94406, 'Michael Fred Phelps, II', 23, 1),
 (33557, 'Raymond Clarence "Ray" Ewry', 10, 2),
 (67046, 'Larysa Semenivna Latynina (Diriy-)', 9, 3),
 (69210, 'Frederick Carlton "Carl" Lewis', 9, 3),
 (87390, 'Paavo Johannes Nurmi', 9, 3),
 (113912, 'Mark Andrew Spitz', 9, 3),
 (11642, 'Matthew Nicholas "Matt" Biondi', 8, 4),
 (11951, 'Ole Einar Bjrndalen', 8, 4),
 (13029, 'Usain St. Leo Bolt', 8, 4),
 (35550, 'Birgit Fischer-Schmidt', 8, 4),
 (57998, 'Sawao Kato', 8, 4),
 (119922, 'Jennifer Elisabeth "Jenny" Thompson (-Cumpelik)', 8, 4),
 (4198, 'Nikolay Yefimovich Andrianov', 7, 5),
 (18826, 'Vra slavsk (-Odloilov)', 7, 5),
 (21402, 'Viktor Ivanovych Chukarin', 7, 5),
 (39726, 'Aladr Gerevich (-Gerei)', 7, 5),
 (107383, 'Donald Arthur "Don" Schollander', 7, 5),
 (109161, 'Borys Anfiyanovych Shakhlin', 7, 5)]

### 12. Fetch the top 5 athletes who have won the most medals (gold/silver/bronze).

In [19]:
%%sql

select * from
 (select distinct id, 
      name,
      count(medal) as no_of_medals,
      dense_rank() over (order by count(medal) desc) as Rnk
  from athlete_events 
  where medal <> 'NA'
  group by id, name order by count(medal) desc) subquery
where Rnk <= 5;

 * postgresql://postgres:***@localhost:5432/olympics
15 rows affected.

[(94406, 'Michael Fred Phelps, II', 28, 1),
 (67046, 'Larysa Semenivna Latynina (Diriy-)', 18, 2),
 (4198, 'Nikolay Yefimovich Andrianov', 15, 3),
 (11951, 'Ole Einar Bjrndalen', 13, 4),
 (74420, 'Edoardo Mangiarotti', 13, 4),
 (89187, 'Takashi Ono', 13, 4),
 (109161, 'Borys Anfiyanovych Shakhlin', 13, 4),
 (23426, 'Natalie Anne Coughlin (-Hall)', 12, 5),
 (35550, 'Birgit Fischer-Schmidt', 12, 5),
 (57998, 'Sawao Kato', 12, 5),
 (70965, 'Ryan Steven Lochte', 12, 5),
 (85286, 'Aleksey Yuryevich Nemov', 12, 5),
 (87390, 'Paavo Johannes Nurmi', 12, 5),
 (119922, 'Jennifer Elisabeth "Jenny" Thompson (-Cumpelik)', 12, 5),
 (121258, 'Dara Grace Torres (-Hoffman, -Minas)', 12, 5)]

### 13. Fetch the top 5 most successful countries in olympics. Success is defined by no of medals won.

In [20]:
%%sql

select * from
    (select t2.region, 
         count(medal) as no_of_medal,
         rank() over (order by count(medal) desc) as Rnk
    from athlete_events t1 
    join noc_regions t2 on t1.noc=t2.noc
    where medal <> 'NA'
    group by  t2.region order by count(medal) desc) as subquery
where Rnk <= 5;

 * postgresql://postgres:***@localhost:5432/olympics
5 rows affected.

[('USA', 5637, 1),
 ('Russia', 3947, 2),
 ('Germany', 3756, 3),
 ('UK', 2068, 4),
 ('France', 1777, 5)]

### 14. List down total gold, silver and bronze medals won by each country.

In [21]:
%%sql

create extension if not exists tablefunc;

select region,
  coalesce(gold, 0) as gold,
  coalesce(bronze, 0) as bronze,
  coalesce(silver, 0) as silver
from crosstab 
    ('select t2.region, medal,
         count(medal) as no_of_medal
    from athlete_events t1 
    join noc_regions t2 on t1.noc=t2.noc
    where medal <> ''NA''
    group by  t2.region, medal order by t2.region, medal',
    'values(''Gold''),(''Bronze''), (''Silver'')')
    as result (region varchar, Gold bigint, Silver bigint, Bronze bigint)
order by gold desc, bronze desc, silver desc;

 * postgresql://postgres:***@localhost:5432/olympics
Done.
136 rows affected.

[('USA', 2638, 1641, 1358),
 ('Russia', 1599, 1170, 1178),
 ('Germany', 1301, 1195, 1260),
 ('UK', 678, 739, 651),
 ('Italy', 575, 531, 531),
 ('France', 501, 610, 666),
 ('Sweden', 479, 522, 535),
 ('Canada', 463, 438, 451),
 ('Hungary', 432, 332, 371),
 ('Norway', 378, 361, 294),
 ('Australia', 368, 459, 522),
 ('China', 351, 349, 293),
 ('Netherlands', 287, 340, 413),
 ('Japan', 247, 309, 357),
 ('South Korea', 221, 232, 185),
 ('Finland', 198, 270, 432),
 ('Denmark', 179, 241, 177),
 ('Switzerland', 175, 248, 268),
 ('Cuba', 164, 129, 116),
 ('Romania', 161, 200, 292),
 ('Serbia', 157, 222, 160),
 ('India', 138, 19, 40),
 ('Czech Republic', 123, 262, 259),
 ('Poland', 117, 195, 253),
 ('Spain', 110, 243, 136),
 ('Brazil', 109, 175, 191),
 ('Austria', 108, 186, 156),
 ('Belgium', 98, 197, 173),
 ('Argentina', 91, 92, 91),
 ('New Zealand', 90, 56, 82),
 ('Greece', 62, 109, 84),
 ('Croatia', 58, 54, 37),
 ('Bulgaria', 54, 144, 144),
 ('Ukraine', 47, 52, 100),
 ('Pakistan', 42, 45, 34),
 ('Turkey', 40, 27, 28),
 ('Jamaica', 38, 75, 44),
 ('Kenya', 34, 41, 31),
 ('South Africa', 32, 47, 52),
 ('Uruguay', 31, 2, 30),
 ('Mexico', 30, 26, 54),
 ('Belarus', 24, 44, 71),
 ('Nigeria', 23, 30, 46),
 ('Ethiopia', 22, 9, 22),
 ('Kazakhstan', 20, 25, 32),
 ('Cameroon', 20, 1, 1),
 ('Iran', 18, 21, 29),
 ('Zimbabwe', 17, 4, 1),
 ('North Korea', 16, 16, 35),
 ('Slovakia', 15, 19, 13),
 ('Bahamas', 14, 11, 15),
 ('Estonia', 13, 12, 25),
 ('Fiji', 13, 0, 0),
 ('Indonesia', 11, 17, 13),
 ('Uzbekistan', 10, 7, 17),
 ('Ireland', 9, 13, 13),
 ('Thailand', 9, 8, 13),
 ('Slovenia', 8, 13, 27),
 ('Georgia', 8, 6, 18),
 ('Azerbaijan', 7, 12, 25),
 ('Trinidad', 7, 8, 22),
 ('Egypt', 7, 8, 12),
 ('Lithuania', 6, 7, 48),
 ('Morocco', 6, 5, 12),
 ('Colombia', 5, 9, 14),
 ('Algeria', 5, 4, 8),
 ('Portugal', 4, 11, 26),
 ('Luxembourg', 4, 4, 0),
 ('Taiwan', 3, 28, 18),
 ('Latvia', 3, 19, 13),
 ('Chile', 3, 9, 20),
 ('Tunisia', 3, 3, 7),
 ('Dominican Republic', 3, 2, 2),
 ('Mongolia', 2, 10, 14),
 ('Armenia', 2, 5, 9),
 ('Venezuela', 2, 3, 10),
 ('Uganda', 2, 3, 2),
 ('Liechtenstein', 2, 2, 5),
 ('Peru', 1, 14, 0),
 ('Vietnam', 1, 3, 0),
 ('Puerto Rico', 1, 2, 6),
 ('Syria', 1, 2, 2),
 ('Israel', 1, 1, 7),
 ('Haiti', 1, 1, 5),
 ('Individual Olympic Athletes', 1, 1, 3),
 ('Tajikistan', 1, 1, 2),
 ('Costa Rica', 1, 1, 2),
 ('Ivory Coast', 1, 1, 1),
 ('Bahrain', 1, 1, 1),
 ('Grenada', 1, 1, 0),
 ('Ecuador', 1, 1, 0),
 ('Burundi', 1, 1, 0),
 ('Panama', 1, 0, 2),
 ('Mozambique', 1, 0, 1),
 ('Suriname', 1, 0, 1),
 ('United Arab Emirates', 1, 0, 1),
 ('Kosovo', 1, 0, 0),
 ('Nepal', 1, 0, 0),
 ('Jordan', 1, 0, 0),
 ('Paraguay', 0, 17, 0),
 ('Iceland', 0, 15, 2),
 ('Montenegro', 0, 14, 0),
 ('Malaysia', 0, 11, 5),
 ('Namibia', 0, 4, 0),
 ('Philippines', 0, 3, 7),
 ('Moldova', 0, 3, 5),
 ('Lebanon', 0, 2, 2),
 ('Tanzania', 0, 2, 0),
 ('Sri Lanka', 0, 2, 0),
 ('Ghana', 0, 1, 22),
 ('Saudi Arabia', 0, 1, 5),
 ('Qatar', 0, 1, 4),
 ('Kyrgyzstan', 0, 1, 2),
 ('Zambia', 0, 1, 1),
 ('Niger', 0, 1, 1),
 ('Curacao', 0, 1, 0),
 ('Sudan', 0, 1, 0),
 ('Cyprus', 0, 1, 0),
 ('Senegal', 0, 1, 0),
 ('Gabon', 0, 1, 0),
 ('Tonga', 0, 1, 0),
 ('Botswana', 0, 1, 0),
 ('Guatemala', 0, 1, 0),
 ('Virgin Islands, US', 0, 1, 0),
 ('Afghanistan', 0, 0, 2),
 ('Kuwait', 0, 0, 2),
 ('Barbados', 0, 0, 1),
 ('Monaco', 0, 0, 1),
 ('Guyana', 0, 0, 1),
 ('Mauritius', 0, 0, 1),
 ('Macedonia', 0, 0, 1),
 ('Eritrea', 0, 0, 1),
 ('Togo', 0, 0, 1),
 ('Djibouti', 0, 0, 1),
 ('Iraq', 0, 0, 1),
 ('Bermuda', 0, 0, 1)]

### 15. List down total gold, silver and bronze medals won by each country corresponding to each olympic games

In [22]:
%%sql

select substring(game_country, 1, position(' - ' in game_country) -1) as games,
  substring(game_country, position(' - ' in game_country) +3 ) as country,
  coalesce(gold, 0) as gold,
  coalesce(bronze, 0) as bronze,
  coalesce(silver, 0) as silver
from crosstab 
    ('select concat(t1.games, '' - '', t2.region) as game_country,  
         medal,
         count(medal) as no_of_medal
    from athlete_events t1 
    join noc_regions t2 on t1.noc=t2.noc
    where medal <> ''NA''
    group by  t1.games, t2.region, medal order by t1.games, t2.region, medal',
    'values(''Gold''),(''Bronze''), (''Silver'')')
    as result (game_country text, Gold bigint, Silver bigint, Bronze bigint)

 * postgresql://postgres:***@localhost:5432/olympics
1640 rows affected.

[('1896 Summer', 'Australia', 2, 0, 1),
 ('1896 Summer', 'Austria', 2, 1, 2),
 ('1896 Summer', 'Denmark', 1, 2, 3),
 ('1896 Summer', 'France', 5, 4, 2),
 ('1896 Summer', 'Germany', 25, 5, 2),
 ('1896 Summer', 'Greece', 10, 18, 20),
 ('1896 Summer', 'Hungary', 2, 1, 3),
 ('1896 Summer', 'Switzerland', 1, 2, 0),
 ('1896 Summer', 'UK', 3, 3, 3),
 ('1896 Summer', 'USA', 11, 7, 2),
 ('1900 Summer', 'Australia', 3, 0, 3),
 ('1900 Summer', 'Austria', 0, 3, 3),
 ('1900 Summer', 'Belgium', 6, 24, 13),
 ('1900 Summer', 'Canada', 1, 0, 1),
 ('1900 Summer', 'Colombia', 0, 1, 0),
 ('1900 Summer', 'Cuba', 1, 1, 0),
 ('1900 Summer', 'Czech Republic', 0, 1, 2),
 ('1900 Summer', 'Denmark', 4, 3, 2),
 ('1900 Summer', 'France', 52, 101, 82),
 ('1900 Summer', 'Germany', 14, 20, 11),
 ('1900 Summer', 'Haiti', 1, 0, 0),
 ('1900 Summer', 'Hungary', 1, 2, 2),
 ('1900 Summer', 'India', 0, 2, 0),
 ('1900 Summer', 'Italy', 3, 2, 0),
 ('1900 Summer', 'Luxembourg', 1, 0, 0),
 ('1900 Summer', 'Mexico', 0, 0, 3),
 ('1900 Summer', 'Netherlands', 3, 8, 16),
 ('1900 Summer', 'New Zealand', 1, 0, 0),
 ('1900 Summer', 'Norway', 0, 6, 3),
 ('1900 Summer', 'Spain', 2, 0, 0),
 ('1900 Summer', 'Sweden', 3, 0, 1),
 ('1900 Summer', 'Switzerland', 16, 4, 1),
 ('1900 Summer', 'UK', 59, 34, 15),
 ('1900 Summer', 'USA', 30, 16, 17),
 ('1904 Summer', 'Australia', 0, 3, 1),
 ('1904 Summer', 'Austria', 2, 1, 1),
 ('1904 Summer', 'Canada', 27, 9, 12),
 ('1904 Summer', 'Cuba', 5, 0, 0),
 ('1904 Summer', 'France', 0, 2, 0),
 ('1904 Summer', 'Germany', 4, 5, 7),
 ('1904 Summer', 'Greece', 1, 0, 1),
 ('1904 Summer', 'Hungary', 2, 1, 1),
 ('1904 Summer', 'Norway', 2, 0, 0),
 ('1904 Summer', 'Switzerland', 1, 0, 2),
 ('1904 Summer', 'UK', 1, 1, 0),
 ('1904 Summer', 'USA', 128, 141, 125),
 ('1906 Summer', 'Australia', 0, 0, 3),
 ('1906 Summer', 'Austria', 3, 3, 3),
 ('1906 Summer', 'Belgium', 2, 3, 6),
 ('1906 Summer', 'Canada', 1, 1, 0),
 ('1906 Summer', 'Czech Republic', 0, 0, 3),
 ('1906 Summer', 'Denmark', 14, 19, 1),
 ('1906 Summer', 'Finland', 2, 1, 1),
 ('1906 Summer', 'France', 20, 16, 28),
 ('1906 Summer', 'Germany', 14, 10, 6),
 ('1906 Summer', 'Greece', 24, 48, 30),
 ('1906 Summer', 'Hungary', 5, 5, 3),
 ('1906 Summer', 'Italy', 21, 8, 27),
 ('1906 Summer', 'Netherlands', 0, 1, 5),
 ('1906 Summer', 'Norway', 20, 5, 0),
 ('1906 Summer', 'Sweden', 2, 5, 14),
 ('1906 Summer', 'Switzerland', 8, 3, 1),
 ('1906 Summer', 'UK', 9, 22, 8),
 ('1906 Summer', 'USA', 12, 6, 6),
 ('1908 Summer', 'Australia', 15, 2, 2),
 ('1908 Summer', 'Austria', 0, 0, 1),
 ('1908 Summer', 'Belgium', 1, 24, 8),
 ('1908 Summer', 'Canada', 14, 8, 30),
 ('1908 Summer', 'Czech Republic', 0, 0, 6),
 ('1908 Summer', 'Denmark', 0, 14, 3),
 ('1908 Summer', 'Finland', 1, 1, 28),
 ('1908 Summer', 'France', 12, 5, 23),
 ('1908 Summer', 'Germany', 4, 11, 6),
 ('1908 Summer', 'Greece', 0, 3, 1),
 ('1908 Summer', 'Hungary', 7, 7, 6),
 ('1908 Summer', 'Italy', 2, 6, 0),
 ('1908 Summer', 'Netherlands', 0, 0, 16),
 ('1908 Summer', 'Norway', 7, 32, 3),
 ('1908 Summer', 'Russia', 1, 2, 0),
 ('1908 Summer', 'South Africa', 1, 1, 0),
 ('1908 Summer', 'Sweden', 48, 18, 18),
 ('1908 Summer', 'UK', 147, 131, 90),
 ('1908 Summer', 'USA', 34, 16, 15),
 ('1912 Summer', 'Australia', 5, 2, 3),
 ('1912 Summer', 'Austria', 0, 9, 5),
 ('1912 Summer', 'Belgium', 7, 1, 11),
 ('1912 Summer', 'Canada', 3, 2, 3),
 ('1912 Summer', 'Denmark', 5, 49, 33),
 ('1912 Summer', 'Finland', 9, 40, 22),
 ('1912 Summer', 'France', 10, 11, 5),
 ('1912 Summer', 'Germany', 11, 19, 23),
 ('1912 Summer', 'Greece', 1, 0, 1),
 ('1912 Summer', 'Hungary', 10, 17, 3),
 ('1912 Summer', 'Italy', 22, 1, 2),
 ('1912 Summer', 'Netherlands', 0, 0, 26),
 ('1912 Summer', 'Norway', 40, 6, 34),
 ('1912 Summer', 'Russia', 0, 5, 9),
 ('1912 Summer', 'South Africa', 5, 2, 0),
 ('1912 Summer', 'Sweden', 103, 62, 25),
 ('1912 Summer', 'Switzerland', 2, 0, 0),
 ('1912 Summer', 'UK', 47, 64, 59),
 ('1912 Summer', 'USA', 46, 25, 36),
 ('1920 Summer', 'Australia', 0, 6, 1),
 ('1920 Summer', 'Belgium', 57, 65, 66),
 ('1920 Summer', 'Brazil', 1, 1, 5),
 ('1920 Summer', 'Canada', 10, 3, 3),
 ('1920 Summer', 'Czech Republic', 0, 0, 10),
 ('1920 Summer', 'Denmark', 26, 44, 1),
 ('1920 Summer', 'Estonia', 1, 2, 0),
 ('1920 Summer', 'Finland', 21, 14, 17),
 ('1920 Summer', 'France', 13, 71, 57),
 ('1920 Summer', 'Greece', 0, 5, 0),
 ('1920 Summer', 'Italy', 67, 9, 8),
 ('1920 Summer', 'Japan', 0, 3, 0),
 ('1920 Summer', 'Luxembourg', 0, 1, 0),
 ('1920 Summer', 'Netherlands', 15, 10, 25),
 ('1920 Summer', 'New Zealand', 0, 0, 1),
 ('1920 Summer', 'Norway', 58, 52, 27),
 ('1920 Summer', 'South Africa', 3, 12, 6),
 ('1920 Summer', 'Spain', 0, 23, 0),
 ('1920 Summer', 'Sweden', 52, 38, 64),
 ('1920 Summer', 'Switzerland', 6, 2, 21),
 ('1920 Summer', 'UK', 52, 42, 17),
 ('1920 Summer', 'USA', 111, 45, 38),
 ('1924 Summer', 'Argentina', 5, 3, 2),
 ('1924 Summer', 'Australia', 3, 5, 2),
 ('1924 Summer', 'Austria', 0, 3, 1),
 ('1924 Summer', 'Belgium', 3, 30, 6),
 ('1924 Summer', 'Canada', 0, 19, 1),
 ('1924 Summer', 'Czech Republic', 1, 4, 5),
 ('1924 Summer', 'Denmark', 2, 9, 3),
 ('1924 Summer', 'Estonia', 1, 1, 4),
 ('1924 Summer', 'Finland', 24, 13, 15),
 ('1924 Summer', 'France', 37, 51, 22),
 ('1924 Summer', 'Greece', 1, 0, 0),
 ('1924 Summer', 'Haiti', 0, 0, 5),
 ('1924 Summer', 'Hungary', 2, 12, 8),
 ('1924 Summer', 'Ireland', 0, 1, 1),
 ('1924 Summer', 'Italy', 25, 5, 21),
 ('1924 Summer', 'Japan', 0, 0, 1),
 ('1924 Summer', 'Luxembourg', 1, 1, 0),
 ('1924 Summer', 'Monaco', 0, 0, 1),
 ('1924 Summer', 'Netherlands', 8, 1, 18),
 ('1924 Summer', 'New Zealand', 0, 0, 1),
 ('1924 Summer', 'Norway', 14, 5, 3),
 ('1924 Summer', 'Poland', 0, 4, 1),
 ('1924 Summer', 'Portugal', 0, 0, 4),
 ('1924 Summer', 'Romania', 0, 0, 16),
 ('1924 Summer', 'Serbia', 2, 0, 0),
 ('1924 Summer', 'South Africa', 1, 1, 1),
 ('1924 Summer', 'Sweden', 7, 22, 43),
 ('1924 Summer', 'Switzerland', 14, 25, 21),
 ('1924 Summer', 'UK', 15, 30, 19),
 ('1924 Summer', 'Uruguay', 14, 0, 0),
 ('1924 Summer', 'USA', 97, 36, 49),
 ('1924 Winter', 'Australia', 1, 0, 0),
 ('1924 Winter', 'Austria', 3, 1, 0),
 ('1924 Winter', 'Belgium', 0, 0, 5),
 ('1924 Winter', 'Canada', 9, 0, 0),
 ('1924 Winter', 'Finland', 4, 8, 3),
 ('1924 Winter', 'France', 0, 0, 10),
 ('1924 Winter', 'India', 7, 0, 0),
 ('1924 Winter', 'Nepal', 1, 0, 0),
 ('1924 Winter', 'Norway', 4, 7, 6),
 ('1924 Winter', 'Sweden', 1, 8, 0),
 ('1924 Winter', 'Switzerland', 8, 0, 1),
 ('1924 Winter', 'UK', 16, 4, 11),
 ('1924 Winter', 'USA', 1, 10, 1),
 ('1928 Summer', 'Argentina', 3, 18, 5),
 ('1928 Summer', 'Australia', 1, 2, 1),
 ('1928 Summer', 'Austria', 3, 0, 2),
 ('1928 Summer', 'Belgium', 0, 1, 4),
 ('1928 Summer', 'Canada', 7, 5, 21),
 ('1928 Summer', 'Chile', 0, 1, 0),
 ('1928 Summer', 'Czech Republic', 2, 12, 2),
 ('1928 Summer', 'Denmark', 6, 5, 4),
 ('1928 Summer', 'Egypt', 2, 1, 1),
 ('1928 Summer', 'Estonia', 2, 1, 6),
 ('1928 Summer', 'Finland', 8, 8, 9),
 ('1928 Summer', 'France', 12, 24, 14),
 ('1928 Summer', 'Germany', 21, 15, 41),
 ('1928 Summer', 'Haiti', 0, 1, 0),
 ('1928 Summer', 'Hungary', 10, 11, 0),
 ('1928 Summer', 'India', 14, 0, 0),
 ('1928 Summer', 'Ireland', 1, 0, 0),
 ('1928 Summer', 'Italy', 24, 22, 26),
 ('1928 Summer', 'Japan', 2, 6, 1),
 ('1928 Summer', 'Luxembourg', 1, 0, 0),
 ('1928 Summer', 'Netherlands', 20, 29, 8),
 ('1928 Summer', 'New Zealand', 1, 0, 0),
 ('1928 Summer', 'Norway', 4, 4, 1),
 ('1928 Summer', 'Philippines', 0, 0, 1),
 ('1928 Summer', 'Poland', 2, 3, 15),
 ('1928 Summer', 'Portugal', 0, 0, 6),
 ('1928 Summer', 'Serbia', 1, 1, 10),
 ('1928 Summer', 'South Africa', 1, 0, 5),
 ('1928 Summer', 'Spain', 3, 0, 0),
 ('1928 Summer', 'Sweden', 7, 8, 22),
 ('1928 Summer', 'Switzerland', 16, 10, 4),
 ('1928 Summer', 'UK', 7, 27, 24),
 ('1928 Summer', 'Uruguay', 17, 0, 0),
 ('1928 Summer', 'USA', 47, 24, 17),
 ('1928 Winter', 'Austria', 0, 4, 2),
 ('1928 Winter', 'Belgium', 0, 0, 1),
 ('1928 Winter', 'Canada', 12, 0, 0),
 ('1928 Winter', 'Czech Republic', 0, 0, 1),
 ('1928 Winter', 'Finland', 2, 1, 1),
 ('1928 Winter', 'France', 2, 0, 0),
 ('1928 Winter', 'Germany', 0, 0, 5),
 ('1928 Winter', 'Norway', 6, 4, 5),
 ('1928 Winter', 'Sweden', 2, 13, 1),
 ('1928 Winter', 'Switzerland', 0, 0, 12),
 ('1928 Winter', 'UK', 0, 0, 1),
 ('1928 Winter', 'USA', 6, 6, 2),
 ('1932 Summer', 'Argentina', 3, 1, 0),
 ('1932 Summer', 'Australia', 3, 1, 1),
 ('1932 Summer', 'Austria', 1, 1, 3),
 ('1932 Summer', 'Belgium', 0, 0, 1),
 ('1932 Summer', 'Canada', 2, 13, 24),
 ('1932 Summer', 'Czech Republic', 1, 3, 2),
 ('1932 Summer', 'Denmark', 0, 7, 4),
 ('1932 Summer', 'Finland', 5, 8, 16),
 ('1932 Summer', 'France', 26, 8, 6),
 ('1932 Summer', 'Germany', 10, 26, 7),
 ('1932 Summer', 'Hungary', 20, 5, 8),
 ('1932 Summer', 'India', 15, 0, 0),
 ('1932 Summer', 'Ireland', 2, 0, 0),
 ('1932 Summer', 'Italy', 21, 38, 18),
 ('1932 Summer', 'Japan', 10, 17, 4),
 ('1932 Summer', 'Latvia', 0, 1, 0),
 ('1932 Summer', 'Mexico', 0, 2, 0),
 ('1932 Summer', 'Netherlands', 2, 10, 1),
 ('1932 Summer', 'New Zealand', 0, 2, 0),
 ('1932 Summer', 'Philippines', 0, 0, 3),
 ('1932 Summer', 'Poland', 3, 4, 14),
 ('1932 Summer', 'South Africa', 2, 0, 3),
 ('1932 Summer', 'Spain', 0, 0, 1),
 ('1932 Summer', 'Sweden', 13, 7, 12),
 ('1932 Summer', 'Switzerland', 0, 1, 0),
 ('1932 Summer', 'UK', 9, 12, 14),
 ('1932 Summer', 'Uruguay', 0, 0, 1),
 ('1932 Summer', 'USA', 81, 47, 61),
 ('1932 Winter', 'Austria', 1, 1, 0),
 ('1932 Winter', 'Canada', 14, 1, 5),
 ('1932 Winter', 'Finland', 1, 1, 1),
 ('1932 Winter', 'France', 2, 0, 0),
 ('1932 Winter', 'Germany', 0, 0, 14),
 ('1932 Winter', 'Hungary', 0, 0, 2),
 ('1932 Winter', 'Norway', 3, 4, 3),
 ('1932 Winter', 'Sweden', 1, 2, 0),
 ('1932 Winter', 'Switzerland', 0, 2, 0),
 ('1932 Winter', 'USA', 10, 21, 3),
 ('1936 Summer', 'Argentina', 5, 2, 4),
 ('1936 Summer', 'Australia', 0, 0, 1),
 ('1936 Summer', 'Austria', 6, 42, 7),
 ('1936 Summer', 'Belgium', 0, 0, 14),
 ('1936 Summer', 'Canada', 1, 12, 9),
 ('1936 Summer', 'Czech Republic', 5, 12, 1),
 ('1936 Summer', 'Denmark', 0, 3, 3),
 ('1936 Summer', 'Egypt', 2, 1, 2),
 ('1936 Summer', 'Estonia', 2, 2, 3),
 ('1936 Summer', 'Finland', 8, 6, 13),
 ('1936 Summer', 'France', 13, 13, 18),
 ('1936 Summer', 'Germany', 93, 70, 61),
 ('1936 Summer', 'Hungary', 25, 1, 15),
 ('1936 Summer', 'India', 19, 0, 0),
 ('1936 Summer', 'Italy', 37, 34, 5),
 ('1936 Summer', 'Japan', 9, 4, 10),
 ('1936 Summer', 'Latvia', 0, 1, 1),
 ('1936 Summer', 'Mexico', 0, 0, 16),
 ('1936 Summer', 'Netherlands', 9, 7, 21),
 ('1936 Summer', 'New Zealand', 1, 0, 0),
 ('1936 Summer', 'Norway', 1, 12, 15),
 ('1936 Summer', 'Philippines', 0, 0, 1),
 ('1936 Summer', 'Poland', 0, 6, 6),
 ('1936 Summer', 'Portugal', 0, 0, 3),
 ('1936 Summer', 'Romania', 0, 1, 0),
 ('1936 Summer', 'Serbia', 0, 1, 0),
 ('1936 Summer', 'South Africa', 0, 1, 0),
 ('1936 Summer', 'Sweden', 7, 11, 17),
 ('1936 Summer', 'Switzerland', 5, 23, 24),
 ('1936 Summer', 'Turkey', 1, 0, 1),
 ('1936 Summer', 'UK', 12, 16, 8),
 ('1936 Summer', 'USA', 51, 29, 16),
 ('1936 Winter', 'Austria', 1, 2, 2),
 ('1936 Winter', 'Canada', 0, 13, 0),
 ('1936 Winter', 'Finland', 4, 2, 3),
 ('1936 Winter', 'France', 0, 0, 1),
 ('1936 Winter', 'Germany', 4, 3, 0),
 ('1936 Winter', 'Hungary', 0, 0, 2),
 ('1936 Winter', 'Norway', 7, 8, 3),
 ('1936 Winter', 'Sweden', 2, 2, 6),
 ('1936 Winter', 'Switzerland', 4, 6, 0),
 ('1936 Winter', 'UK', 12, 1, 4),
 ('1936 Winter', 'USA', 2, 0, 14),
 ('1948 Summer', 'Argentina', 3, 7, 1),
 ('1948 Summer', 'Australia', 2, 9, 5),
 ('1948 Summer', 'Austria', 2, 2, 4),
 ('1948 Summer', 'Belgium', 5, 2, 8),
 ('1948 Summer', 'Brazil', 0, 0, 10),
 ('1948 Summer', 'Canada', 0, 2, 5),
 ('1948 Summer', 'Cuba', 0, 2, 0),
 ('1948 Summer', 'Czech Republic', 14, 3, 3),
 ('1948 Summer', 'Denmark', 7, 17, 27),
 ('1948 Summer', 'Egypt', 2, 2, 1),
 ('1948 Summer', 'Finland', 17, 8, 8),
 ('1948 Summer', 'France', 26, 22, 24),
 ('1948 Summer', 'Hungary', 15, 25, 22),
 ('1948 Summer', 'India', 20, 0, 0),
 ('1948 Summer', 'Iran', 0, 0, 1),
 ('1948 Summer', 'Ireland', 0, 0, 1),
 ('1948 Summer', 'Italy', 21, 32, 14),
 ('1948 Summer', 'Jamaica', 1, 2, 0),
 ('1948 Summer', 'Mexico', 4, 1, 4),
 ('1948 Summer', 'Netherlands', 8, 2, 32),
 ('1948 Summer', 'Norway', 3, 4, 11),
 ('1948 Summer', 'Panama', 0, 0, 2),
 ('1948 Summer', 'Peru', 1, 0, 0),
 ('1948 Summer', 'Poland', 1, 0, 1),
 ('1948 Summer', 'Portugal', 0, 2, 3),
 ('1948 Summer', 'Puerto Rico', 0, 0, 1),
 ('1948 Summer', 'Serbia', 0, 16, 0),
 ('1948 Summer', 'South Africa', 2, 2, 2),
 ('1948 Summer', 'South Korea', 0, 0, 2),
 ('1948 Summer', 'Spain', 0, 3, 0),
 ('1948 Summer', 'Sri Lanka', 0, 1, 0),
 ('1948 Summer', 'Sweden', 30, 15, 30),
 ('1948 Summer', 'Switzerland', 5, 25, 6),
 ('1948 Summer', 'Trinidad', 0, 1, 0),
 ('1948 Summer', 'Turkey', 6, 4, 2),
 ('1948 Summer', 'UK', 7, 42, 12),
 ('1948 Summer', 'Uruguay', 0, 1, 2),
 ('1948 Summer', 'USA', 87, 30, 35),
 ('1948 Winter', 'Austria', 1, 3, 4),
 ('1948 Winter', 'Belgium', 2, 4, 0),
 ('1948 Winter', 'Canada', 13, 0, 2),
 ('1948 Winter', 'Czech Republic', 0, 17, 0),
 ('1948 Winter', 'Finland', 1, 6, 2),
 ('1948 Winter', 'France', 2, 1, 2),
 ('1948 Winter', 'Hungary', 0, 2, 0),
 ('1948 Winter', 'Italy', 1, 0, 0),
 ('1948 Winter', 'Norway', 4, 3, 6),
 ('1948 Winter', 'Sweden', 7, 3, 3),
 ('1948 Winter', 'Switzerland', 4, 5, 19),
 ('1948 Winter', 'UK', 0, 0, 2),
 ('1948 Winter', 'USA', 6, 4, 6),
 ('1952 Summer', 'Argentina', 2, 2, 2),
 ('1952 Summer', 'Australia', 7, 2, 11),
 ('1952 Summer', 'Austria', 0, 1, 2),
 ('1952 Summer', 'Belgium', 5, 3, 0),
 ('1952 Summer', 'Brazil', 1, 0, 2),
 ('1952 Summer', 'Bulgaria', 0, 0, 1),
 ('1952 Summer', 'Canada', 1, 3, 0),
 ('1952 Summer', 'Chile', 0, 4, 0),
 ('1952 Summer', 'Czech Republic', 11, 4, 10),
 ('1952 Summer', 'Denmark', 3, 1, 5),
 ('1952 Summer', 'Egypt', 0, 0, 1),
 ('1952 Summer', 'Finland', 8, 3, 29),
 ('1952 Summer', 'France', 14, 9, 17),
 ('1952 Summer', 'Germany', 0, 14, 26),
 ('1952 Summer', 'Hungary', 53, 17, 32),
 ('1952 Summer', 'India', 14, 0, 1),
 ('1952 Summer', 'Iran', 0, 3, 4),
 ('1952 Summer', 'Ireland', 0, 1, 0),
 ('1952 Summer', 'Italy', 17, 22, 15),
 ('1952 Summer', 'Jamaica', 5, 3, 0),
 ('1952 Summer', 'Japan', 1, 9, 2),
 ('1952 Summer', 'Lebanon', 0, 1, 1),
 ('1952 Summer', 'Luxembourg', 1, 0, 0),
 ('1952 Summer', 'Mexico', 0, 1, 0),
 ('1952 Summer', 'Netherlands', 0, 18, 0),
 ('1952 Summer', 'New Zealand', 1, 0, 2),
 ('1952 Summer', 'Norway', 5, 8, 0),
 ('1952 Summer', 'Poland', 1, 2, 1),
 ('1952 Summer', 'Portugal', 0, 0, 2),
 ('1952 Summer', 'Romania', 1, 1, 2),
 ('1952 Summer', 'Russia', 36, 62, 19),
 ('1952 Summer', 'Serbia', 4, 20, 0),
 ('1952 Summer', 'South Africa', 2, 8, 4),
 ('1952 Summer', 'South Korea', 0, 0, 2),
 ('1952 Summer', 'Spain', 0, 1, 0),
 ('1952 Summer', 'Sweden', 23, 24, 23),
 ('1952 Summer', 'Switzerland', 2, 19, 12),
 ('1952 Summer', 'Trinidad', 0, 0, 2),
 ('1952 Summer', 'Turkey', 2, 0, 1),
 ('1952 Summer', 'UK', 3, 2, 26),
 ('1952 Summer', 'Uruguay', 0, 0, 14),
 ('1952 Summer', 'USA', 83, 23, 28),
 ('1952 Summer', 'Venezuela', 0, 0, 1),
 ('1952 Winter', 'Austria', 2, 4, 2),
 ('1952 Winter', 'Canada', 16, 0, 1),
 ('1952 Winter', 'Finland', 6, 4, 2),
 ('1952 Winter', 'France', 0, 0, 1),
 ('1952 Winter', 'Germany', 8, 2, 2),
 ('1952 Winter', 'Hungary', 0, 0, 2),
 ('1952 Winter', 'Italy', 1, 0, 1),
 ('1952 Winter', 'Netherlands', 0, 3, 0),
 ('1952 Winter', 'Norway', 7, 6, 6),
 ('1952 Winter', 'Sweden', 0, 0, 23),
 ('1952 Winter', 'Switzerland', 0, 0, 6),
 ('1952 Winter', 'UK', 1, 0, 0),
 ('1952 Winter', 'USA', 4, 25, 1),
 ('1956 Summer', 'Argentina', 0, 1, 1),
 ('1956 Summer', 'Australia', 28, 13, 26),
 ('1956 Summer', 'Austria', 0, 0, 4),
 ('1956 Summer', 'Bahamas', 0, 0, 2),
 ('1956 Summer', 'Belgium', 0, 2, 0),
 ('1956 Summer', 'Brazil', 1, 0, 0),
 ('1956 Summer', 'Bulgaria', 1, 3, 14),
 ('1956 Summer', 'Canada', 5, 9, 5),
 ('1956 Summer', 'Chile', 0, 2, 2),
 ('1956 Summer', 'Czech Republic', 1, 5, 1),
 ('1956 Summer', 'Denmark', 1, 4, 1),
 ('1956 Summer', 'Finland', 3, 1, 22),
 ('1956 Summer', 'France', 7, 13, 13),
 ('1956 Summer', 'Germany', 9, 20, 23),
 ('1956 Summer', 'Greece', 0, 0, 1),
 ('1956 Summer', 'Hungary', 30, 20, 14),
 ('1956 Summer', 'Iceland', 0, 1, 0),
 ('1956 Summer', 'India', 17, 0, 0),
 ('1956 Summer', 'Iran', 2, 2, 1),
 ('1956 Summer', 'Ireland', 1, 1, 3),
 ('1956 Summer', 'Italy', 26, 11, 10),
 ('1956 Summer', 'Japan', 4, 15, 5),
 ('1956 Summer', 'Mexico', 1, 0, 1),
 ('1956 Summer', 'New Zealand', 3, 0, 0),
 ('1956 Summer', 'Norway', 1, 0, 2),
 ('1956 Summer', 'Pakistan', 0, 14, 0),
 ('1956 Summer', 'Poland', 1, 9, 9),
 ('1956 Summer', 'Romania', 6, 3, 10),
 ('1956 Summer', 'Russia', 68, 46, 55),
 ('1956 Summer', 'Serbia', 0, 23, 0),
 ('1956 Summer', 'South Africa', 0, 0, 7),
 ('1956 Summer', 'South Korea', 0, 1, 1),
 ('1956 Summer', 'Sweden', 14, 14, 6),
 ('1956 Summer', 'Switzerland', 0, 0, 3),
 ('1956 Summer', 'Turkey', 3, 2, 2),
 ('1956 Summer', 'UK', 8, 16, 22),
 ('1956 Summer', 'Uruguay', 0, 0, 12),
 ('1956 Summer', 'USA', 61, 42, 20),
 ('1956 Winter', 'Austria', 5, 3, 4),
 ('1956 Winter', 'Canada', 0, 2, 18),
 ('1956 Winter', 'Finland', 5, 6, 1),
 ('1956 Winter', 'Germany', 1, 0, 1),
 ('1956 Winter', 'Hungary', 0, 0, 2),
 ('1956 Winter', 'Italy', 2, 6, 0),
 ('1956 Winter', 'Japan', 0, 1, 0),
 ('1956 Winter', 'Norway', 2, 1, 1),
 ('1956 Winter', 'Poland', 0, 0, 1),
 ('1956 Winter', 'Russia', 26, 5, 6),
 ('1956 Winter', 'Sweden', 2, 4, 9),
 ('1956 Winter', 'Switzerland', 6, 2, 2),
 ('1956 Winter', 'USA', 2, 19, 5),
 ('1960 Summer', 'Argentina', 0, 3, 1),
 ('1960 Summer', 'Australia', 11, 24, 11),
 ('1960 Summer', 'Austria', 1, 2, 0),
 ('1960 Summer', 'Belgium', 0, 2, 2),
 ('1960 Summer', 'Brazil', 0, 0, 13),
 ('1960 Summer', 'Bulgaria', 1, 3, 3),
 ('1960 Summer', 'Canada', 0, 9, 0),
 ('1960 Summer', 'Czech Republic', 4, 7, 11),
 ('1960 Summer', 'Denmark', 2, 17, 4),
 ('1960 Summer', 'Ethiopia', 1, 0, 0),
 ('1960 Summer', 'Finland', 1, 1, 4),
 ('1960 Summer', 'France', 0, 6, 6),
 ('1960 Summer', 'Germany', 34, 33, 22),
 ('1960 Summer', 'Ghana', 0, 1, 0),
 ('1960 Summer', 'Greece', 3, 0, 0),
 ('1960 Summer', 'Hungary', 13, 16, 37),
 ('1960 Summer', 'India', 0, 13, 0),
 ('1960 Summer', 'Iran', 0, 1, 3),
 ('1960 Summer', 'Iraq', 0, 0, 1),
 ('1960 Summer', 'Italy', 36, 18, 34),
 ('1960 Summer', 'Japan', 9, 10, 12),
 ('1960 Summer', 'Mexico', 0, 0, 1),
 ('1960 Summer', 'Morocco', 0, 1, 0),
 ('1960 Summer', 'Netherlands', 0, 1, 2),
 ('1960 Summer', 'New Zealand', 2, 0, 1),
 ('1960 Summer', 'Norway', 2, 0, 0),
 ('1960 Summer', 'Pakistan', 13, 0, 1),
 ('1960 Summer', 'Poland', 4, 11, 15),
 ('1960 Summer', 'Portugal', 0, 2, 0),
 ('1960 Summer', 'Romania', 3, 1, 11),
 ('1960 Summer', 'Russia', 61, 63, 45),
 ('1960 Summer', 'Serbia', 16, 1, 0),
 ('1960 Summer', 'South Africa', 0, 1, 2),
 ('1960 Summer', 'Spain', 0, 0, 14),
 ('1960 Summer', 'Sweden', 2, 2, 3),
 ('1960 Summer', 'Switzerland', 0, 6, 6),
 ('1960 Summer', 'Syria', 0, 1, 1),
 ('1960 Summer', 'Taiwan', 0, 1, 0),
 ('1960 Summer', 'Trinidad', 0, 0, 5),
 ('1960 Summer', 'Turkey', 7, 2, 0),
 ('1960 Summer', 'UK', 2, 11, 15),
 ('1960 Summer', 'USA', 81, 23, 21),
 ('1960 Summer', 'Venezuela', 0, 0, 1),
 ('1960 Winter', 'Austria', 1, 2, 3),
 ('1960 Winter', 'Canada', 3, 17, 1),
 ('1960 Winter', 'Czech Republic', 0, 1, 0),
 ('1960 Winter', 'Finland', 5, 3, 5),
 ('1960 Winter', 'France', 1, 0, 2),
 ('1960 Winter', 'Germany', 4, 4, 1),
 ('1960 Winter', 'Italy', 0, 0, 1),
 ('1960 Winter', 'Netherlands', 0, 1, 1),
 ('1960 Winter', 'Norway', 3, 6, 0),
 ('1960 Winter', 'Poland', 0, 1, 1),
 ('1960 Winter', 'Russia', 7, 7, 28),
 ('1960 Winter', 'Sweden', 5, 2, 2),
 ('1960 Winter', 'Switzerland', 2, 0, 0),
 ('1960 Winter', 'USA', 19, 4, 4),
 ('1964 Summer', 'Argentina', 0, 1, 0),
 ('1964 Summer', 'Australia', 8, 6, 30),
 ('1964 Summer', 'Bahamas', 2, 0, 0),
 ('1964 Summer', 'Belgium', 2, 0, 1),
 ('1964 Summer', 'Brazil', 0, 0, 12),
 ('1964 Summer', 'Bulgaria', 3, 5, 2),

### 16. Identify which country won the most gold, most silver and most bronze medals in each olympic games.

In [23]:
%%sql

with final as
	 (select substring(game_country, 1, position(' - ' in game_country) -1) as games,
	  substring(game_country, position(' - ' in game_country) +3 ) as country,
	  coalesce(gold, 0) as gold,
	  coalesce(bronze, 0) as bronze,
	  coalesce(silver, 0) as silver
	from crosstab 
		('select concat(t1.games, '' - '', t2.region) as game_country,  
			 medal,
			 count(medal) as no_of_medal
		from athlete_events t1 
		join noc_regions t2 on t1.noc=t2.noc
		where medal <> ''NA''
		group by  t1.games, t2.region, medal order by t1.games, t2.region, medal',
		'values(''Gold''),(''Bronze''), (''Silver'')')
		as result (game_country text, Gold bigint, Silver bigint, Bronze bigint))
select distinct games, 
   concat(first_value(country) over (partition by games order by gold desc),
		  ' - ', 
		  first_value(gold) over (partition by games order by gold desc)) as max_gold,
   concat(first_value(country) over (partition by games order by bronze desc),
		  ' - ', 
		  first_value(bronze) over (partition by games order by bronze desc)) as max_bronze,
   concat(first_value(country) over (partition by games order by silver desc),
		  ' - ', 
		  first_value(silver) over (partition by games order by silver desc)) as max_silver
from final order by games;

 * postgresql://postgres:***@localhost:5432/olympics
51 rows affected.

[('1896 Summer', 'Germany - 25', 'Greece - 18', 'Greece - 20'),
 ('1900 Summer', 'UK - 59', 'France - 101', 'France - 82'),
 ('1904 Summer', 'USA - 128', 'USA - 141', 'USA - 125'),
 ('1906 Summer', 'Greece - 24', 'Greece - 48', 'Greece - 30'),
 ('1908 Summer', 'UK - 147', 'UK - 131', 'UK - 90'),
 ('1912 Summer', 'Sweden - 103', 'UK - 64', 'UK - 59'),
 ('1920 Summer', 'USA - 111', 'France - 71', 'Belgium - 66'),
 ('1924 Summer', 'USA - 97', 'France - 51', 'USA - 49'),
 ('1924 Winter', 'UK - 16', 'USA - 10', 'UK - 11'),
 ('1928 Summer', 'USA - 47', 'Netherlands - 29', 'Germany - 41'),
 ('1928 Winter', 'Canada - 12', 'Sweden - 13', 'Switzerland - 12'),
 ('1932 Summer', 'USA - 81', 'USA - 47', 'USA - 61'),
 ('1932 Winter', 'Canada - 14', 'USA - 21', 'Germany - 14'),
 ('1936 Summer', 'Germany - 93', 'Germany - 70', 'Germany - 61'),
 ('1936 Winter', 'UK - 12', 'Canada - 13', 'USA - 14'),
 ('1948 Summer', 'USA - 87', 'UK - 42', 'USA - 35'),
 ('1948 Winter', 'Canada - 13', 'Czech Republic - 17', 'Switzerland - 19'),
 ('1952 Summer', 'USA - 83', 'Russia - 62', 'Hungary - 32'),
 ('1952 Winter', 'Canada - 16', 'USA - 25', 'Sweden - 23'),
 ('1956 Summer', 'Russia - 68', 'Russia - 46', 'Russia - 55'),
 ('1956 Winter', 'Russia - 26', 'USA - 19', 'Canada - 18'),
 ('1960 Summer', 'USA - 81', 'Russia - 63', 'Russia - 45'),
 ('1960 Winter', 'USA - 19', 'Canada - 17', 'Russia - 28'),
 ('1964 Summer', 'USA - 95', 'Russia - 63', 'Russia - 51'),
 ('1964 Winter', 'Russia - 30', 'Sweden - 21', 'Czech Republic - 17'),
 ('1968 Summer', 'USA - 99', 'Russia - 63', 'Russia - 64'),
 ('1968 Winter', 'Russia - 26', 'Czech Republic - 19', 'Canada - 18'),
 ('1972 Summer', 'Russia - 107', 'Germany - 83', 'Germany - 96'),
 ('1972 Winter', 'Russia - 36', 'USA - 18', 'Czech Republic - 19'),
 ('1976 Summer', 'Germany - 123', 'Russia - 95', 'Russia - 77'),
 ('1976 Winter', 'Russia - 38', 'Czech Republic - 19', 'Germany - 37'),
 ('1980 Summer', 'Russia - 187', 'Russia - 129', 'Russia - 126'),
 ('1980 Winter', 'USA - 24', 'Russia - 29', 'Sweden - 20'),
 ('1984 Summer', 'USA - 186', 'USA - 116', 'Germany - 53'),
 ('1984 Winter', 'Russia - 29', 'Czech Republic - 24', 'Sweden - 21'),
 ('1988 Summer', 'Russia - 134', 'Germany - 91', 'Russia - 99'),
 ('1988 Winter', 'Russia - 40', 'Finland - 22', 'Sweden - 23'),
 ('1992 Summer', 'Russia - 92', 'Russia - 61', 'USA - 85'),
 ('1992 Winter', 'Russia - 35', 'Canada - 28', 'Czech Republic - 27'),
 ('1994 Winter', 'Sweden - 23', 'Canada - 29', 'Finland - 29'),
 ('1996 Summer', 'USA - 159', 'China - 70', 'Australia - 84'),
 ('1998 Winter', 'USA - 25', 'Russia - 32', 'Finland - 49'),
 ('2000 Summer', 'USA - 130', 'Australia - 69', 'Germany - 64'),
 ('2002 Winter', 'Canada - 52', 'USA - 58', 'Russia - 27'),
 ('2004 Summer', 'USA - 117', 'Australia - 77', 'Russia - 95'),
 ('2006 Winter', 'Sweden - 35', 'Finland - 34', 'USA - 32'),
 ('2008 Summer', 'USA - 127', 'USA - 110', 'USA - 80'),
 ('2010 Winter', 'Canada - 67', 'USA - 63', 'Finland - 46'),
 ('2012 Summer', 'USA - 145', 'USA - 57', 'Australia - 59'),
 ('2014 Winter', 'Canada - 59', 'Sweden - 32', 'Finland - 24'),
 ('2016 Summer', 'USA - 139', 'UK - 55', 'USA - 71')]

### 17. Identify which country won the most gold, most silver, most bronze medals and the most medals in each olympic games.

In [24]:
%%sql

with medals as
	 (select substring(game_country, 1, position(' - ' in game_country) -1) as games,
	  substring(game_country, position(' - ' in game_country) +3 ) as country,
	  coalesce(gold, 0) as gold,
	  coalesce(bronze, 0) as bronze,
	  coalesce(silver, 0) as silver
	from crosstab 
		('select concat(t1.games, '' - '', t2.region) as game_country,  
			 medal,
			 count(medal) as no_of_medal
		from athlete_events t1 
		join noc_regions t2 on t1.noc=t2.noc
		where medal <> ''NA''
		group by  t1.games, t2.region, medal order by t1.games, t2.region, medal',
		'values(''Gold''),(''Bronze''), (''Silver'')')
		as result (game_country text, Gold bigint, Silver bigint, Bronze bigint)),
finals as	
	(select t1.games, t2.region, count(medal) as total_medals 
	 from athlete_events t1 
	 join noc_regions t2 on t1.noc=t2.noc
	 where medal <> 'NA'
	 group by  t1.games, t2.region order by t1.games, t2.region)
select distinct m.games, 
   concat(first_value(m.country) over (partition by m.games order by m.gold desc),
		  ' - ', 
		  first_value(m.gold) over (partition by m.games order by m.gold desc)) as max_gold,
   concat(first_value(m.country) over (partition by m.games order by m.bronze desc),
		  ' - ', 
		  first_value(m.bronze) over (partition by m.games order by m.bronze desc)) as max_bronze,
   concat(first_value(m.country) over (partition by m.games order by m.silver desc),
		  ' - ', 
		  first_value(m.silver) over (partition by m.games order by m.silver desc)) as max_silver,
   concat(first_value(m.country) over (partition by m.games order by f.total_medals desc),
		  ' - ', 
		  first_value(f.total_medals) over (partition by m.games order by f.total_medals desc)) as max_medals
from medals m 
join finals f on m.games= f.games and m.country=f.region
order by games;

 * postgresql://postgres:***@localhost:5432/olympics
51 rows affected.

[('1896 Summer', 'Germany - 25', 'Greece - 18', 'Greece - 20', 'Greece - 48'),
 ('1900 Summer', 'UK - 59', 'France - 101', 'France - 82', 'France - 235'),
 ('1904 Summer', 'USA - 128', 'USA - 141', 'USA - 125', 'USA - 394'),
 ('1906 Summer', 'Greece - 24', 'Greece - 48', 'Greece - 30', 'Greece - 102'),
 ('1908 Summer', 'UK - 147', 'UK - 131', 'UK - 90', 'UK - 368'),
 ('1912 Summer', 'Sweden - 103', 'UK - 64', 'UK - 59', 'Sweden - 190'),
 ('1920 Summer', 'USA - 111', 'France - 71', 'Belgium - 66', 'USA - 194'),
 ('1924 Summer', 'USA - 97', 'France - 51', 'USA - 49', 'USA - 182'),
 ('1924 Winter', 'UK - 16', 'USA - 10', 'UK - 11', 'UK - 31'),
 ('1928 Summer', 'USA - 47', 'Netherlands - 29', 'Germany - 41', 'USA - 88'),
 ('1928 Winter', 'Canada - 12', 'Sweden - 13', 'Switzerland - 12', 'Sweden - 16'),
 ('1932 Summer', 'USA - 81', 'USA - 47', 'USA - 61', 'USA - 189'),
 ('1932 Winter', 'Canada - 14', 'USA - 21', 'Germany - 14', 'USA - 34'),
 ('1936 Summer', 'Germany - 93', 'Germany - 70', 'Germany - 61', 'Germany - 224'),
 ('1936 Winter', 'UK - 12', 'Canada - 13', 'USA - 14', 'Norway - 18'),
 ('1948 Summer', 'USA - 87', 'UK - 42', 'USA - 35', 'USA - 152'),
 ('1948 Winter', 'Canada - 13', 'Czech Republic - 17', 'Switzerland - 19', 'Switzerland - 28'),
 ('1952 Summer', 'USA - 83', 'Russia - 62', 'Hungary - 32', 'USA - 134'),
 ('1952 Winter', 'Canada - 16', 'USA - 25', 'Sweden - 23', 'USA - 30'),
 ('1956 Summer', 'Russia - 68', 'Russia - 46', 'Russia - 55', 'Russia - 169'),
 ('1956 Winter', 'Russia - 26', 'USA - 19', 'Canada - 18', 'Russia - 37'),
 ('1960 Summer', 'USA - 81', 'Russia - 63', 'Russia - 45', 'Russia - 169'),
 ('1960 Winter', 'USA - 19', 'Canada - 17', 'Russia - 28', 'Russia - 42'),
 ('1964 Summer', 'USA - 95', 'Russia - 63', 'Russia - 51', 'Russia - 174'),
 ('1964 Winter', 'Russia - 30', 'Sweden - 21', 'Czech Republic - 17', 'Russia - 47'),
 ('1968 Summer', 'USA - 99', 'Russia - 63', 'Russia - 64', 'Russia - 192'),
 ('1968 Winter', 'Russia - 26', 'Czech Republic - 19', 'Canada - 18', 'Russia - 37'),
 ('1972 Summer', 'Russia - 107', 'Germany - 83', 'Germany - 96', 'Germany - 253'),
 ('1972 Winter', 'Russia - 36', 'USA - 18', 'Czech Republic - 19', 'Russia - 45'),
 ('1976 Summer', 'Germany - 123', 'Russia - 95', 'Russia - 77', 'Russia - 286'),
 ('1976 Winter', 'Russia - 38', 'Czech Republic - 19', 'Germany - 37', 'Germany - 64'),
 ('1980 Summer', 'Russia - 187', 'Russia - 129', 'Russia - 126', 'Russia - 442'),
 ('1980 Winter', 'USA - 24', 'Russia - 29', 'Sweden - 20', 'Russia - 54'),
 ('1984 Summer', 'USA - 186', 'USA - 116', 'Germany - 53', 'USA - 352'),
 ('1984 Winter', 'Russia - 29', 'Czech Republic - 24', 'Sweden - 21', 'Russia - 56'),
 ('1988 Summer', 'Russia - 134', 'Germany - 91', 'Russia - 99', 'Russia - 300'),
 ('1988 Winter', 'Russia - 40', 'Finland - 22', 'Sweden - 23', 'Russia - 66'),
 ('1992 Summer', 'Russia - 92', 'Russia - 61', 'USA - 85', 'USA - 224'),
 ('1992 Winter', 'Russia - 35', 'Canada - 28', 'Czech Republic - 27', 'Russia - 59'),
 ('1994 Winter', 'Sweden - 23', 'Canada - 29', 'Finland - 29', 'Germany - 40'),
 ('1996 Summer', 'USA - 159', 'China - 70', 'Australia - 84', 'USA - 259'),
 ('1998 Winter', 'USA - 25', 'Russia - 32', 'Finland - 49', 'Finland - 58'),
 ('2000 Summer', 'USA - 130', 'Australia - 69', 'Germany - 64', 'USA - 242'),
 ('2002 Winter', 'Canada - 52', 'USA - 58', 'Russia - 27', 'USA - 84'),
 ('2004 Summer', 'USA - 117', 'Australia - 77', 'Russia - 95', 'USA - 263'),
 ('2006 Winter', 'Sweden - 35', 'Finland - 34', 'USA - 32', 'Canada - 69'),
 ('2008 Summer', 'USA - 127', 'USA - 110', 'USA - 80', 'USA - 317'),
 ('2010 Winter', 'Canada - 67', 'USA - 63', 'Finland - 46', 'USA - 97'),
 ('2012 Summer', 'USA - 145', 'USA - 57', 'Australia - 59', 'USA - 248'),
 ('2014 Winter', 'Canada - 59', 'Sweden - 32', 'Finland - 24', 'Canada - 86'),
 ('2016 Summer', 'USA - 139', 'UK - 55', 'USA - 71', 'USA - 264')]

### 18. Which countries have never won gold medal but have won silver/bronze medals?

In [25]:
%%sql

select * from
	(select region,
	  coalesce(gold, 0) as gold,
	  coalesce(bronze, 0) as bronze,
	  coalesce(silver, 0) as silver
	from crosstab 
		('select t2.region, medal,
			 count(medal) as no_of_medal
		from athlete_events t1 
		join noc_regions t2 on t1.noc=t2.noc
		where medal <> ''NA''
		group by  t2.region, medal order by t2.region, medal',
		'values(''Gold''),(''Bronze''), (''Silver'')')
		as result (region varchar, Gold bigint, Silver bigint, Bronze bigint)) subquery
where gold = 0 and (silver > 0 or bronze > 0)
order by gold desc nulls last, bronze desc nulls last, silver desc nulls last;

 * postgresql://postgres:***@localhost:5432/olympics
37 rows affected.

[('Paraguay', 0, 17, 0),
 ('Iceland', 0, 15, 2),
 ('Montenegro', 0, 14, 0),
 ('Malaysia', 0, 11, 5),
 ('Namibia', 0, 4, 0),
 ('Philippines', 0, 3, 7),
 ('Moldova', 0, 3, 5),
 ('Lebanon', 0, 2, 2),
 ('Sri Lanka', 0, 2, 0),
 ('Tanzania', 0, 2, 0),
 ('Ghana', 0, 1, 22),
 ('Saudi Arabia', 0, 1, 5),
 ('Qatar', 0, 1, 4),
 ('Kyrgyzstan', 0, 1, 2),
 ('Zambia', 0, 1, 1),
 ('Niger', 0, 1, 1),
 ('Curacao', 0, 1, 0),
 ('Cyprus', 0, 1, 0),
 ('Tonga', 0, 1, 0),
 ('Sudan', 0, 1, 0),
 ('Guatemala', 0, 1, 0),
 ('Senegal', 0, 1, 0),
 ('Gabon', 0, 1, 0),
 ('Botswana', 0, 1, 0),
 ('Virgin Islands, US', 0, 1, 0),
 ('Kuwait', 0, 0, 2),
 ('Afghanistan', 0, 0, 2),
 ('Djibouti', 0, 0, 1),
 ('Eritrea', 0, 0, 1),
 ('Monaco', 0, 0, 1),
 ('Bermuda', 0, 0, 1),
 ('Mauritius', 0, 0, 1),
 ('Barbados', 0, 0, 1),
 ('Togo', 0, 0, 1),
 ('Guyana', 0, 0, 1),
 ('Macedonia', 0, 0, 1),
 ('Iraq', 0, 0, 1)]

### 19. In which Sport/event, India has won highest medals.

In [26]:
%%sql

select * from 
	(select t2.region, t1.sport,
		 count(medal) as no_of_medal,
		 rank () over (order by  count(medal) desc) as Rnk 
	from athlete_events t1 
	join noc_regions t2 on t1.noc=t2.noc
	where medal <> 'NA' and region = 'India'
	group by  t2.region, t1.sport) as subquery
where Rnk = 1;

 * postgresql://postgres:***@localhost:5432/olympics
1 rows affected.

[('India', 'Hockey', 173, 1)]

### 20. Break down all olympic games where India won medal for Hockey and how many medals in each olympic games

In [27]:
%%sql

select t1.games, t2.region, t1.sport,
		 count(medal) as no_of_medal
from athlete_events t1 
join noc_regions t2 on t1.noc=t2.noc
where medal <> 'NA' and region = 'India' and sport = 'Hockey'
group by t1.games, t2.region, t1.sport order by no_of_medal desc;

 * postgresql://postgres:***@localhost:5432/olympics
11 rows affected.

[('1948 Summer', 'India', 'Hockey', 20),
 ('1936 Summer', 'India', 'Hockey', 19),
 ('1956 Summer', 'India', 'Hockey', 17),
 ('1980 Summer', 'India', 'Hockey', 16),
 ('1968 Summer', 'India', 'Hockey', 16),
 ('1932 Summer', 'India', 'Hockey', 15),
 ('1964 Summer', 'India', 'Hockey', 15),
 ('1928 Summer', 'India', 'Hockey', 14),
 ('1972 Summer', 'India', 'Hockey', 14),
 ('1952 Summer', 'India', 'Hockey', 14),
 ('1960 Summer', 'India', 'Hockey', 13)]